<!DOCTYPE html>
<html>
  <head>

    <script>
    var map;

    
    

	function eqfeed_callback(results) {
    	var heatmapData = [];
    	for (var i = 0; i < results.features.length; i++) {
    		var coords = results.features[i].geometry.coordinates;
    		var latLng = new google.maps.LatLng(coords[1], coords[0]);
      		heatmapData.push(latLng);
    }
    var heatmap = new google.maps.visualization.HeatmapLayer({
    	data: heatmapData,
    	dissipating: false,
    	map: map
    });
  }

    google.maps.event.addDomListener(window, 'load', initialize);
	</script>
	</head>
	<body>
		<div>Engineers without Borders - Project name</div>
    	<div id="map-canvas"></div>
    	<div>Browse the database</div>
	</body>
</html>